.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 378px;
  margin: 0 auto;
  padding: 24px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.caption {
  margin-top: 7px;
  color: var(--color-light-900);
}

.captionAfterSubmit {
  margin-top: 23px;
}

.sendLink {
  margin-top: 17px;
}

.link {
  margin: 24px 0;
}

.recaptcha {
  display: flex;
  justify-content: center;
}

.emailSentModal {
  max-width: 378px;

  .modalTextGroup {
    padding: 30px 24px 0;
  }

  .modalBtnGroup {
    display: flex;
    justify-content: flex-end;
    padding: 18px 24px 36px 0;
  }
}
