.currentSubscription {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 18px;

  :last-child {
    margin-right: auto;
  }

  .info {
    display: flex;
    gap: 48px;

    .text {
      padding-bottom: 12px;
      color: var(--color-light-900);
    }

    .data {
      font-weight: var(--font-weight-semi-bold);
    }
  }
}
