.deleteModalRoot {
  width: 438px;
  height: 240px;

  .deleteRoot {
    display: flex;
    flex-direction: column;
    gap: 54px;
    justify-content: flex-start;

    margin: 30px 24px 36px;
  }

  .buttonsBlock {
    display: flex;
    gap: 24px;
    margin-right: 0;
    margin-left: auto;

    button {
      width: 96px;
    }
  }
}
