.messengerWrapper {
  padding-top: 35px;
  padding-left: 24px;

  .messengerTitle {
    padding-bottom: 13px;
  }

  .messenger {
    display: flex;
    border: 1px solid var(--color-dark-300);
    border-radius: 2px;
  }

  .messengerContent {
    width: 100%;
  }
}
