.messengerWrapper {
  padding-top: 35px;
  padding-left: 24px;

  .messengerTitle {
    padding-bottom: 13px;
  }

  .messengerSearch {
    width: 100%;
    max-width: 270px;
    min-height: 72px;
    padding: 17px 12px;

    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
    border-top-left-radius: 2px;
  }
}
