.container {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 4px 0;
}

.pagination {
  display: flex;
  gap: 12px;
  align-items: center;

  .item {
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;

    background-color: transparent;
    border: none;
    border-radius: 2px;
    outline: none;

    transition: all 0.2s linear;

    &.dots:hover {
      cursor: default;
      color: var(--color-light-100);
      background-color: transparent;
    }

    &:hover {
      background-color: var(--color-dark-500);
    }

    &:focus-visible {
      outline: 2px solid var(--color-info-900);
    }

    &.selected {
      cursor: pointer;
      background-color: var(--color-light-100);

      span {
        color: var(--color-dark-900);
      }
    }

    &.disabled {
      pointer-events: none;
      cursor: default;

      &:hover {
        cursor: default;
        background-color: transparent;
      }
    }
  }
}

.selectWithoutPagination {
  display: flex;
  gap: 8px;
  align-self: start;
  margin-top: 24px;
}

.selectWithPagination {
  width: 52px;
  height: 24px;
  padding: 0 6px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.selectWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

@media screen and (width <= 640px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .pagination {
    gap: 3px;
  }
}
