.rootPage {
  padding-top: 35px;
  padding-left: 24px;

  .mainInfo {
    display: flex;
    gap: 38px;

    .avatarPhoto {
      min-width: 204px;
    }

    .infoAboutMe {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .nameAndBtn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .counting {
        display: flex;
        flex-direction: row;
        gap: 88px;
      }
    }
  }

  .postsList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 53px;
  }
}
