.accountType {
  margin-bottom: 30px;

  p {
    padding-bottom: 18px;
  }
}

.subscriptionCosts {
  p {
    padding-bottom: 18px;
  }

  .changePayment {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: flex-end;
    justify-content: flex-end;

    padding-top: 24px;

    :not(:nth-child(2)) {
      cursor: pointer;
    }
  }
}

.modal {
  width: 375px;
  height: 228px;

  .modalBody {
    display: flex;
    flex-direction: column;
    gap: 54px;
    justify-content: space-between;

    padding: 18px 24px 36px;
  }
}
