.accountType {
  margin-bottom: 30px;

  p {
    padding-bottom: 18px;
  }
}

.subscriptionCosts {
  p {
    padding-bottom: 18px;
  }

  .changePayment {
    display: flex;
    flex-direction: row;
    gap: 54px;
    align-items: flex-end;
    justify-content: flex-end;

    padding-top: 24px;

    :not(:nth-child(2)) {
      cursor: pointer;
    }
  }
}
